In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Save path to data set in a variable
data_file = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 4\\Resources\\purchase_data.csv"

In [3]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display a statistical overview of the DataFrame
data_file_pd.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [28]:
# The total number of players
count_players = data_file_pd["Gender"].count()
count_players

780

In [29]:
# The total number of unique items
unique_items = data_file_pd["Item ID"].nunique()
unique_items

183

In [37]:
# The average purchase price
average_price = data_file_pd["Price"].mean()
average_price

3.0509871794871795

In [41]:
# The total number of purchases
no_items = data_file_pd["SN"].count()
no_items

780

In [52]:
# Total Revenue
revenue = data_file_pd["Price"].sum()
revenue

2379.77

In [57]:
Quick_Summary = pd.DataFrame(
    {"Total_No_Of_Players": (count_players),
     "Unique_Items": (unique_items),
     "Average_Price": (average_price),
     "Total_No_Of_Purchases": (no_items),
     "Total_Revenue": [revenue]})

Quick_Summary

,Total_No_Of_Players,Unique_Items,Average_Price,Total_No_Of_Purchases,Total_Revenue
0,780,183,3.050987,780,2379.77

In [73]:
# Count By Gender
count_by_gender = data_file_pd["Gender"].value_counts()
count_by_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [74]:
# Percentage by gender
Percentage_by_gender = data_file_pd["Gender"].value_counts(max)*100
Percentage_by_gender

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [97]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_gender_df = data_file_pd.groupby(['Gender'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_gender_df)

# In order to be visualized, a data function must be used...
grouped_gender_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001CDD2DE6390>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [114]:
Average_purchase_price = grouped_gender_df[["Price"]].mean()
Average_purchase_price

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [109]:
Total_purchase_value = grouped_gender_df[["Price"]].sum()
Total_purchase_value

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [110]:
Purchase_count = grouped_gender_df[["Price"]].count()
Purchase_count

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [126]:
Summary_purchasing_analysis = pd.merge(Total_purchase_value,Average_purchase_price, on="Gender", how="outer")
Summary_purchasing_analysis

                       Price_x   Price_y
Gender
Female                  361.94  3.203009
Male                   1967.64  3.017853
Other / Non-Disclosed    50.19  3.346000

In [131]:
Summary_purchasing_analysis = pd.concat([Purchase_count, Total_purchase_value, Average_purchase_price]).round(2)
Summary_purchasing_analysis

                         Price
Gender
Female                  113.00
Male                    652.00
Other / Non-Disclosed    15.00
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19
Female                    3.20
Male                      3.02
Other / Non-Disclosed     3.35